.container {
  background-image: url("https://images.pexels.com/photos/66284/winter-nature-season-trees-66284.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500https://images.pexels.com/photos/695657/pexels-photo-695657.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

  font-family: "Merriweather", serif;
}

header {
  border-radius: 50px;
  padding: 50px 100px;
}

h2,
h3 {
  color: #ff3366;
}

h1 {
  color: #596aca;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  font-size: 32px;
  margin: 0 auto;
  padding: 30px 10px;
}
h3 {
  font-size: 18px;
  text-align: right;
}

header img {
  position: absolute;
  top: 100px;
  right: 200px;
}

form {
  color: #596aca;
  font-size: 20px;
  font-family: "Merriweather", serif;
}

#date {
  font-size: 23px;
  color: #596aca;
}
#humidity,
#wind {
  font-size: 25px;
  color: #ff3366;
}

.coded-by {
  text-align: right;
  position: relative;
  right: 50px;
  color: #596aca;
  font-size: 15px;
}
